---
interface Props {
  href: string;
  variant?: 'primary' | 'secondary';
  external?: boolean;
  download?: string;
  ariaLabel?: string;
  analyticsEvent?: string;
  analyticsData?: Record<string, string>;
}

const {
  href,
  variant = 'primary',
  external = false,
  download,
  ariaLabel,
  analyticsEvent,
  analyticsData = {},
} = Astro.props;
const analyticsAttributes = analyticsEvent
  ? {
      'data-umami-event': analyticsEvent,
      ...Object.fromEntries(
        Object.entries(analyticsData).map(([key, value]) => [
          `data-umami-event-${key}`,
          value,
        ]),
      ),
    }
  : {};
---

<a
  class:list={['button-link', `button-link--${variant}`]}
  href={href}
  target={external ? '_blank' : undefined}
  rel={external ? 'noreferrer noopener' : undefined}
  download={download}
  aria-label={ariaLabel}
  {...analyticsAttributes}
>
  <slot />
  {
    external && (
      <>
        <span aria-hidden="true">↗</span>
        <span class="sr-only"> (opens in a new tab)</span>
      </>
    )
  }
</a>
